.movie-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1550px) {
  .movie-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .movie-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .movie-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.title {
  color: white;
}

.error {
  margin: 0 auto;
  font-size: 32px;
  color: red;
}
