body {
  margin: 0;
  background: var(--background);
  font-family: Bozon-Regular, Arial, sans-serif;
}

:root {
  --background: #090938;
  --white: #ffffff;
  --text-primary: #ffffff;
  --text-secondary: #090938;
  --button-background: #FED438;
  --button-background-secodary: #ffffff;
}

[data-theme='dark'] {
  --background: #ffffff;
  --text-primary: #090938;
}