.card-container {
  height: 500px;
  width: 100%;
}

.card-container:hover {
  background-color: var(--button-background);
  cursor: pointer;
}

.card-container:hover h2 {
  color: var(--text-secondary);
}

.title {
  height: 20%;
  padding-left: 20px;
}

.image-container {
  width: 100%;
  height: 80%;
}

.image {
  height: 100%;
  width: 100%;
  background-size: cover;
  object-fit: cover;
}
